{% extends "baseControl.html" %}
{% load static %}
{% block titulo %} Bitácora de Reportes Administrador {% endblock %}
{% block content %}
<div class="container pt-1">
    <!--Encabezado-->
    <div class="card border border-bottom-0">
      <div class="card-header">
        <div class="row">
          <div class="col-2 d-flex align-items-center justify-content-center">
            <img id="logo" class="rounded mx-auto" src="../../static/img/logo_clinica.png">
          </div>
          <div class="col-8 d-flex align-items-center justify-content-center">
            <h2 class="fw-bold text-primary-dark">Clinica Médica Económica de Cojutepeque</h2>
          </div>
          <div class="col-2 d-flex align-items-center justify-content-center">
            <img id="logo" class="rounded mx-auto" src="../../static/img/logo_lab.png">
          </div>
        </div>
      </div>
      <!--Titulo del reporte-->
      <div class="card-body">
        <h2 class="fw-bold text-primary-dark text-center">Bitácora de Reportes Tacticos</h2>
      </div>
      
      <!--Resultados de Bitacora-->
      <div class="card-body" id="resultado" >
        <div>
          <table class = "table table-striped text-center border" >
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tipo reporte</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Parametros</th>
                </tr>
            </thead>
            <tbody id="resultados-bitacora">
              {% for reporte in reportes %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ reporte.get_tipo_reporte_display }}</td>
                    <td>{{ reporte.empleado.nombres }} {{ reporte.empleado.apellidos }}</td>
                    <td>{{ reporte.fecha_hora_reporte }}</td>
                    <td>
                      {% if reporte.filtroreporte_set.all %}
                      <button 
                        type="button" 
                        id="btn-ver-{{ forloop.counter }}" 
                        class="btn btn-success"  
                        data-bs-toggle="modal" 
                        href="#exampleModalToggle"
                        onclick='imprimirInformes(`{{reporte.tipo_reporte}}`,`{{ reporte.fecha_inicio|date:"Y-m-d" }}`, `{{reporte.fecha_fin|date:"Y-m-d"}}`,`{{ reporte.fecha_inicio }}`, `{{reporte.fecha_fin}}`,`{{ reporte.filtroreporte_set.all.0.valor }}`)'
                      >Ver</button>
                      {% else %}
                      <button 
                          type="button" 
                          id="btn-ver-{{ forloop.counter }}" 
                          class="btn btn-success"  
                          data-bs-toggle="modal" 
                          href="#exampleModalToggle"
                          onclick='imprimirInformes(`{{reporte.tipo_reporte}}`,`{{ reporte.fecha_inicio|date:"Y-m-d" }}`, `{{reporte.fecha_fin|date:"Y-m-d"}}`,`{{ reporte.fecha_inicio }}`, `{{reporte.fecha_fin}}`,"")'
                        >Ver</button>
                      {% endif %}
                    </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
    <!--MODAL-->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="tituloModal"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!--Tabla para informes estrategicos 01-->
            
            <div id="tabla-tc-01">
            </div>
            <div id="tabla-tc-02">
            </div>
            <div id="tabla-tc-03">
            </div>

            <div class=" text-center pb-2">
              <div class="spinner-border text-primary" role="status" id="spinner">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <!--Tabla para informes estrategicos 01-->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Ver otro</button>
          </div>
        </div>
      </div>
    </div>
</div>
    
    
  </div>

<style>

h2,h3,h5{
  color: #000034;
}
  .imagen{
   
    padding: 20px;
    align-items: center;
    justify-content: center;
    

  }
  #logo{

    width: 70%;
    margin-left: 15%;
    
  }
</style>
{% endblock %}
{% block js %}
<script>
    $("#side_brt").addClass( "active" );
    $("#tabla-es-01").hide();
    const url="{% url 'bitacoraRA' %}";

    function imprimirInformes(tipoInforme, fechaInicio, fechaFin, tituloFechaInicio, tituloFechaFin,filtro){
      $("#tabla-tc-01").html('');
      $("#tabla-tc-02").html('');
      $("#tabla-tc-03").html('');
      switch (tipoInforme) {
        case '3':
          reporteTactico01(fechaInicio, fechaFin, filtro, tituloFechaInicio, tituloFechaFin);
          break;
        case '4':
          reporteTactico02(fechaInicio, fechaFin, filtro, tituloFechaInicio, tituloFechaFin);
          break;
        case '5':
          reporteTactico03(fechaInicio, fechaFin, filtro, tituloFechaInicio, tituloFechaFin);
          break;
        default:
          console.log("Opción no válida");
          break;
      }
    }

      function reporteTactico01(fechaInicio, fechaFin, filtro, tituloFechaInicio, tituloFechaFin){
        $("#tabla-tc-01").html(`
          <table class = "table table-striped text-center border" >
            <thead>
                <tr>
                    <th>Médico</th>
                    <th>Pacientes Atendidos</th>
                    <th>Pacientes con Signos Vitales Tomados</th>
                    <th>Ingresos Diarios</th>
                </tr>
            </thead>
            <tbody id="resultados-informe">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
            </tbody>
          </table>
        `);
        $('#tituloModal').html(`Reporte Tactico 01: ${tituloFechaInicio}.`);
        
        mostrarResultado(fechaInicio);
        $('#spinner').hide();
        async function mostrarResultado(fechaInicio) {
        //Si existe una fecha
        fecha=fechaInicio;
        $.ajax({
          url: 'http://clinica.code-rm.tk/expediente/sgi/consultas',
          type:"GET",
          dataType: "json",
          data: { 
              'fecha': fechaInicio,
            },
            success: async function(data){
              //Se consulta la lista de empleados y se pasa como parametro los datos de la consulta inicial
              let empleados = await jsonEmpleados();
              let medicos =empleados.filter(function(empleado) {
                return empleado.nombre_rol === 'Doctor';
              });
              imprimirResultados(data, medicos);
            }      
        });

      }
        //Función para consultas los datos del reporte
        function imprimirResultados(data, medicos){
          //notificación
          toastr[data.type](data.title);
          //variables
          let contador = {};
          let ingresos = {};
          let totalPacientes=0;
          let totalIngresos=0;
          //Contando los datos
          data.data.forEach(item=>{
            let id = item.consulta.doctor;
            if (contador[id]) {
              contador[id]++;
              ingresos[id]=ingresos[id]+parseFloat(item.consumo_medico);
            } else {
              contador[id] = 1;
              ingresos[id]=parseFloat(item.consumo_medico);
            } 
          })
          //Imprimiendo las filas
          $('#resultados-informe').html("")
          for (var id in contador) {
            medico=medicos.filter((empleado)=>{
              return empleado.codigo_empleado === id;
            })
            console.log(medico)
            $('#resultados-informe').append(`
              <tr>
                <td>${medico[0].nombres} ${medico[0].apellidos}</td>
                <td>${contador[id]}</td>
                <td>${contador[id]}</td>
                <td>$ ${ingresos[id]}</td>
              </tr>
            `);
            totalPacientes=totalPacientes+contador[id];
            totalIngresos=totalIngresos+ingresos[id];
          }
          $('#resultados-informe').append(`
              <tr>
                <th>Total</th>
                <th>${totalPacientes}</th>
                <th>${totalPacientes}</th>
                <th>$ ${totalIngresos}</th>
              </tr>
            `);
        }
        
        async function jsonEmpleados(){
        let data = await fetch('http://clinica.code-rm.tk/control/empleados/lista/')
          .then(function(response) {
            if (response.ok) {
              return response.json();
            }
            throw new Error('Error en la solicitud HTTP');
          })
          .catch(function(error) {
            // Manejar el error de la solicitud
            console.error(error);
          });
        return data;
      }

        }

      function reporteTactico02(fechaInicio, fechaFin, filtro, tituloFechaInicio, tituloFechaFin){
        $("#tabla-tc-02").html(`
          <table class = "table table-striped text-center border" >
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Exámenes Realizados</th>
                    <th>Resultados Entregados</th>
                    <th>Ingresos Diarios</th>
                </tr>
            </thead>
            <tbody id="resultados-informe">

            </tbody>
          </table>
        `);
        $('#tituloModal').html(`Reporte Tactico 02: ${tituloFechaInicio} - ${tituloFechaFin}.`);
        consultarExamenes(fechaInicio, fechaFin, filtro);
        $('#spinner').hide();
        
        function consultarExamenes(fechaInicio, fechaFin, filtro){
          $.ajax({
            url: 'http://clinica.code-rm.tk/laboratorio/sgi-reporte/',
            type:"GET",
            dataType: "json",
            data: { 
                'fechaInicio': fechaInicio,
                'fechaFin': fechaFin,
                'idExamen': filtro,
              },
              success: async function(data){
                toastr[data.type](data.title);
                if(data.type==='success'){
                  imprimirResultados(data);
                }
      
              }      
          });
        }
    //Función para consultas los datos del reporte
        function imprimirResultados(data){
          //variables
          let contador = {};
          let ingresos = {};
          let fecha = {};
          let totalExamen=0;
          let totalResultado=0;
          let totalIngresos=0;
          //Contando los datos
          data.data.forEach(item=>{
            let id = item.fecha_creacion;
            id= id.substring(0, 10);
            if (contador[id]) {
              contador[id]++;
              ingresos[id]=ingresos[id]+parseFloat(item.examen_laboratorio.precio_examen);
            } else {
              fecha[id]=item.fecha_creacion.substring(0, 10);
              contador[id] = 1;
              ingresos[id]=parseFloat(item.examen_laboratorio.precio_examen);
            } 
          })
          //Imprimiendo las filas
          $('#resultados-informe').html("")
          for (var id in contador) {

            $('#resultados-informe').append(`
              <tr>
                <td>${fecha[id]}</td>
                <td>${contador[id]}</td>
                <td>${contador[id]}</td>
                <td>$ ${ingresos[id]}</td>
              </tr>
            `);
            totalResultado=totalResultado+contador[id];
            totalIngresos=totalIngresos+ingresos[id];
          }
          $('#resultados-informe').append(`
              <tr>
                <th>Total</th>
                <th>${totalResultado}</th>
                <th>${totalResultado}</th>
                <th>$ ${totalIngresos}</th>
              </tr>
            `);
        }
      }
    
      function reporteTactico03(fechaInicio, fechaFin, filtro, tituloFechaInicio, tituloFechaFin){
        $("#tabla-tc-03").html(`
          <table class = "table table-striped text-center border" >
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Médico</th>
                <th>Tiempo de Espera(min)</th>
                <th>Tiempo de consulta(min)</th>
                <th>Tiempo promedio total(min)</th>
              </tr>
            </thead>
            <tbody id="resultados-informe">
            </tbody>
          </table>
        `);
        $('#tituloModal').html(`Reporte Tactico 03: ${tituloFechaInicio} - ${tituloFechaFin}.`);
        $('#spinner').show();
        consultarDatosDeConsultas(fechaInicio, fechaFin, filtro);

        function consultarDatosDeConsultas(fechaInicio, fechaFin, filtro){
          $.ajax({
            url: 'http://clinica.code-rm.tk/expediente/sgi/consultas',
            type:"GET",
            dataType: "json",
            data: { 
                'fecha':fechaInicio,
                'fechaFin':fechaFin
              },
              success: async function(data){
                $('#resultados-informe').html("");
                //Se consulta la lista de empleados y se pasa como parametro los datos de la consulta inicial
                let empleados = await jsonEmpleados();
                imprimirResultados(data, empleados);
              }      
          });
        }
        async function jsonEmpleados(){
          let data = await fetch('http://clinica.code-rm.tk/control/empleados/lista/')
            .then(function(response) {
              if (response.ok) {
                return response.json();
              }
              throw new Error('Error en la solicitud HTTP');
            })
            .catch(function(error) {
              // Manejar el error de la solicitud
              console.error(error);
            });
            data= data.filter(function(empleado) {
                  return empleado.nombre_rol === 'Doctor';
                });
          return data;
        }
    
        function imprimirResultados(data, empleados){
          toastr[data.type](data.title);
          //limpiando tabla
          let datosFiltrados=[];
          let nombres=[];
          let totalMinutosEspera=0;
          let totalMinutosConsulta=0;
          let totalMinutos=0;
          let contador=0;
          //Filtrando datos por medico
          empleados.forEach(medico=>{
            id=medico.codigo_empleado
            datosFiltrados[id]=data.data.filter((item)=>{
              return item.consulta.doctor===id;
            })
            nombres[id]=`${medico.nombres} ${medico.apellidos}`
          });
          //Recorriendo datos filtrados
          for(const id in datosFiltrados){
            let fechas={}
            let sumatoriasEspera=[]
            let sumatoriasConsulta=[]
            let contadores={}
            let nombreDoctores={}
            //Recorriendo array filtrado para cada doctor
            datosFiltrados[id].forEach(item=>{
              let id=item.fecha_de_cola;
              let horaIngreso = new Date(`1970-01-01T${item.hora_de_ingreso}Z`);
              let horaInicioConsulta = new Date(`1970-01-01T${item.consulta.hora_inicio}Z`);
              let horaFinConsulta = new Date(`1970-01-01T${item.consulta.hora_fin}Z`);
              if(fechas[id]){
                //Si se suma un nuevo elmento
                sumatoriasEspera[id]=sumatoriasEspera[id]+(horaInicioConsulta-horaIngreso);
                sumatoriasConsulta[id]=sumatoriasConsulta[id]+(horaFinConsulta-horaInicioConsulta);
                contadores[id]++;
              }
              else{
                //Si se inicia el conteo
                sumatoriasEspera[id]=horaInicioConsulta-horaIngreso; //tiempo de espera en milisegundos
                sumatoriasConsulta[id]=horaFinConsulta-horaInicioConsulta;
                contadores[id]=1;
                fechas[id]=id
              }
            })
            
            for(const fecha in fechas){
              let minutos=(sumatoriasEspera[fecha]/contadores[fecha])/60000;
              let minutosconsulta=(sumatoriasConsulta[fecha]/contadores[fecha])/60000;
              let minutosTotal=minutos+minutosconsulta;
              //totales
              totalMinutosEspera=totalMinutosEspera+minutos;
              totalMinutosConsulta=totalMinutosConsulta+minutosconsulta;
              totalMinutos=totalMinutos+minutosTotal;
              contador++;
              //datos para imprimir
              minutosEspera= minutos.toFixed(2);
              minutosconsulta=minutosconsulta.toFixed(2);
              minutosTotal=minutosTotal.toFixed(2);
              $('#resultados-informe').append(`
              <tr>
                <td>${fecha}</td>
                <td>${nombres[id]}</td>
                <td>${minutosEspera}</td>
                <td>${minutosconsulta}</td>
                <td>${minutosTotal}</td>
              </tr>
              `);
              
            }
          }
          
          $('#resultados-informe').append(`
              <tr>
                <th>Promedio</th>
                <th></th>
                <th>${(totalMinutosEspera/contador).toFixed(2)}</th>
                <th>${(totalMinutosConsulta/contador).toFixed(2)}</th>
                <th>${(totalMinutos/contador).toFixed(2)}</th>
              </tr>
              `);
          $('#spinner').hide();
        }
      
      }

</script>
{% endblock %}