{% extends "baseControl.html" %}
{% load static %}
{% block titulo %} Reporte Estrategico 02 {% endblock %}
{% block content %}
<div class="container pt-1">
  <!--Encabezado-->
  <div class="card border border-bottom-0">
    <div class="card-header">
      <div class="row">
        <div class="col-2 d-flex align-items-center justify-content-center">
          <img id="logo" class="rounded mx-auto" src="../../static/img/logo_clinica.png">
        </div>
        <div class="col-8 d-flex align-items-center justify-content-center">
          <h2 class="fw-bold text-primary-dark">Clinica Médica Económica de Cojutepeque</h2>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <img id="logo" class="rounded mx-auto" src="../../static/img/logo_lab.png">
        </div>
      </div>
    </div>
    <!--Titulo del reporte-->
    <div class="card-body">
      <h2 class="fw-bold text-primary-dark text-center">Reporte Anual de Ingesos por Servicio</h2>
    </div>
    <!--Formulario parametros del reporte-->
    <div class="card-body" id="formulario">
      <div class="card col-md-12 ">
        <div class="card-body" >
          <form>
            <div class="form-group">
              <label>Seleccione el año: </label>
              <input type="number" class="form-control" id="seleccionarAnio" min="2000" max="2099" value='{%now "Y" %}'>
            </div>
            <br>
            <div class="form-group">
              <label>Tipo de Servicio</label>
              <select class="form-select" id="idServicio" name="idServicio">
                <option value="1">Clinica</option>
                <option value="2">Laboratorio</option>
              </select>
            </div>
            <br>
            <button class="btn btn-dark" type="button" onclick="consultarDatosDeConsultas()">Consultar</button>
            <div class=" text-center pb-2">
              <div class="spinner-border text-primary" role="status" id="spinner-1">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--Resultados del reporte-->
    <div class="card-body" id="resultado" style="display: none;">
      <div>
        <h5 class="fw-bold text-primary-dark text-center" id="titulo-fecha"></h2>
        <h5 class="text-primary-dark text-center">Generado por: {{ request.user.nombres }} {{ request.user.apellidos }} el {%now "d-m-Y" %} a las  {% now "H:i" %}. </h3>
        <br>
        <table class = "table table-striped text-center border" >
          <thead id="head-informe">
              <tr>
                  <th>Servicio</th>
                  <th>Ingresos año anterior</th>
                  <th>Ingresos año actual</th>
                  <th>Variación</th>
              </tr>
          </thead>
          <tbody id="resultados-informe">
              <tr>
                <td></td>
                <td></td>
              </tr>
          </tbody>
        </table>
        <div class=" text-center pb-2">
          <div class="spinner-border text-primary" role="status" id="spinner">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <div >
        <button type="button" id="btn-guardar" class="btn btn-success" onclick="almacenarDatosReporte();">Guadar Parametros Reporte</button>
        <button type="button" id="btn-nuevo-form" class="btn btn-dark" onclick="nuevoForm();">Generar nuevo informe</button>
    </div>
    
  </div>
  
  
</div>

<style>

h2,h3,h5{
color: #000034;
}
.imagen{
 
  padding: 20px;
  align-items: center;
  justify-content: center;
  

}
#logo{

  width: 70%;
  margin-left: 15%;
  
}
</style>
{% endblock %}
{% block js %}
<script>
    $( "#side_re02" ).addClass( "active" );
    url="{% url 'vistaRE02' %}";
    $('#spinner-1').hide()
    function mostrarResultado() {
      document.getElementById('formulario').style.display = 'none';
      document.getElementById('resultado').style.display = 'block';
      let idServicio = $('#idServicio').val();
      let Servicio=$('#idServicio').find(`option[value='${idServicio}']`).text();
      let anioActual=$('#seleccionarAnio').val()
      $('#titulo-fecha').html("");
      $('#titulo-fecha').append(`Para servicios de: ${Servicio}, realizados para el año ${anioActual}`)
    }
    function nuevoForm(){
      document.getElementById('resultado').style.display = 'none';
      document.getElementById('formulario').style.display = 'block';
      $('#spinner-1').hide();
      $('#idServicio').val('');
    }

    function consultarClinica(fechaInicio, fechaFin) {
      return new Promise(function(resolve, reject) {
        $.ajax({
          url: 'http://clinica.code-rm.tk/expediente/sgi/consultas',
          type: "GET",
          dataType: "json",
          data: { 
            'fecha': fechaInicio,
            'fechaFin': fechaFin
          },
          success: function(data) {
            resolve(data);
          },
          error: function(error) {
            reject(error);
          }
        });
      });
    }

    async function consultarDatosDeConsultas() {
      $('#spinner-1').show();
      $('#spinner').show();
      $('#resultados-informe').html("");
      // Obtener las fechas ingresadas en los inputs
      let anioActual=$('#seleccionarAnio').val()
      let fechaInicioActual = `${anioActual}-01-01`
      let fechaFinActual = `${anioActual}-12-31`

      // Copiar las fechas originales
      let fechaInicioAnioAnterior = `${anioActual-1}-01-01`
      let fechaFinAnioAnterior = `${anioActual-1}-12-31`

      $('#spinner').show();

      try {
        if ($('#idServicio').val()==='1'){
          let dataActual = await consultarClinica(fechaInicioActual, fechaFinActual);
          let dataAnterior = await consultarClinica(fechaInicioAnioAnterior, fechaFinAnioAnterior);
          imprimirResultadosClinica(dataActual, dataAnterior, anioActual)
          mostrarResultado();
        }
        else {
          let dataActual = await consultarLaboratorio(fechaInicioActual, fechaFinActual);
          let dataAnterior = await consultarLaboratorio(fechaInicioAnioAnterior, fechaFinAnioAnterior);
          let dataActualCategorizada = categorizar(dataActual);
          let dataAnteriorCategorizada = categorizar(dataAnterior);
          imprimirResultadosLaboratorio(dataActualCategorizada, dataAnteriorCategorizada, anioActual);
          toastr[dataActual.type](dataActual.title);
          mostrarResultado();
        }
      } catch (error) {
        console.error(error);
      }
    }

    function imprimirResultadosClinica(dataActual, dataAnterior, anioActual){
      toastr[dataActual.type](dataActual.title);
      
      let ingresosActuales=0;
      let ingresosAnteriores=0;
      let variacion;

      dataActual.data.map((dato)=>{
        ingresosActuales=ingresosActuales+parseFloat(dato.consumo_medico);
      })
      dataAnterior.data.map((dato)=>{
        ingresosAnteriores=ingresosAnteriores+parseFloat(dato.consumo_medico);
      })

      if (ingresosAnteriores!==0){
        variacion=(((ingresosActuales-ingresosAnteriores)/ingresosAnteriores)*100).toFixed(2);
      }
      else {
        variacion=100;
      }
      
      $('#head-informe').html('');
      $('#head-informe').append(`
          <tr>
            <td>Servicio</td>
            <td>Ingresos año ${anioActual-1}</td>
            <td>Ingresos año ${anioActual}</td>
            <td>Variación</td>
          </tr>
        `);
      
      $('#resultados-informe').append(`
          <tr>
            <td>Clinica</td>
            <td>$ ${ingresosAnteriores}</td>
            <td>$ ${ingresosActuales}</td>
            <td>${variacion}%</td>
          </tr>
          `);
      $('#spinner').hide();
    }

    //LABORATORIO
    function consultarLaboratorio(fechaInicio, fechaFin) {
      return new Promise(function(resolve, reject) {
        $.ajax({
          url: 'http://clinica.code-rm.tk/laboratorio/sgi-reporte/',
          type:"GET",
          dataType: "json",
          data: { 
            'fechaInicio': fechaInicio,
            'fechaFin': fechaFin,
            'idCategoria': 'TODOS',
          },
          success: function(data) {
            resolve(data);
          },
          error: function(error) {
            reject(error);
          }
        });
      });
    }
    function categorizar(jsonData){
      const categorizedData = {};

        // Clasificar los datos por categoría
        jsonData.data.forEach((item) => {
          const nombreExamen = item.examen_laboratorio.nombre_examen;
          const precioExamen = parseFloat(item.examen_laboratorio.precio_examen);
          const idExamen = item.examen_laboratorio.id_examen_laboratorio;

          if (categorizedData[nombreExamen]) {
            categorizedData[nombreExamen].total += precioExamen;
          } else {
            categorizedData[nombreExamen] = {
              nombre_examen: nombreExamen,
              total: precioExamen,
              id_examen_laboratorio: idExamen
            };
          }
        });

        // Convertir los datos clasificados en un array de objetos
        const categorizedArray = Object.values(categorizedData).sort((a, b) => a.id_examen_laboratorio - b.id_examen_laboratorio);

        return categorizedArray;
    }
    
    function imprimirResultadosLaboratorio(dataActual, dataAnterior, anioActual){
      
      //Colocando el header de la tabla
      $('#head-informe').html('');
      $('#head-informe').append(`
          <tr>
            <th>Servicio</td>
            <th>Ingresos año ${anioActual-1}</td>
            <th>Ingresos año ${anioActual}</td>
            <th>Variación</td>
          </tr>
        `);
      let size=(dataActual.length!==0)? dataActual.length : dataAnterior.length
      for(let i=0; i<size; i++){
        let nombreExamen=(dataActual[i]?.nombre_examen ?? "" !== "")? dataActual[i].nombre_examen: dataAnterior[i].nombre_examen
        let ingresosActuales=dataActual[i]?.total ?? 0;
        let ingresosAnteriores=dataAnterior[i]?.total ?? 0;
        let variacion=0;
        if(ingresosAnteriores!==0){
          variacion=(((ingresosActuales-ingresosAnteriores)/ingresosAnteriores)*100).toFixed(2);
        }
        else{
          variacion=100
        }
        

        $('#resultados-informe').append(`
          <tr>
            <td>Examen de: ${nombreExamen}</td>
            <td>$ ${ingresosAnteriores}</td>
            <td>$ ${ingresosActuales}</td>
            <td>${variacion}%</td>
          </tr>
          `);
      }

      $('#spinner').hide();
    }

    ///REPORTE
    function almacenarDatosReporte(){
      $.ajax({
        url: "{% url 'vistaRE02' %}",
        type:"POST",
        dataType: "json",
        headers: {
                "X-CSRFToken": '{{ csrf_token }}',
            },
        data: { 
            'year': $('#seleccionarAnio').val(),
            'idServicio': $('#idServicio').val(),
          },
          success: async function(data){
            toastr[data.type](data.title);
            //Se consulta la lista de empleados y se pasa como parametro los datos de la consulta inicial
            
          }      
      });
    }
  </script>
{% endblock %}