{% extends "baseControl.html" %}
{% load static %}
{% block titulo %} Reporte Táctico 02 {% endblock %}
{% block content %}

<div class="container pt-1">
  <!--Encabezado-->
  <div class="card border border-bottom-0">
    <div class="card-header">
      <div class="row">
        <div class="col-2 d-flex align-items-center justify-content-center">
          <img id="logo" class="rounded mx-auto" src="../../static/img/logo_clinica.png">
        </div>
        <div class="col-8 d-flex align-items-center justify-content-center">
          <h2 class="fw-bold text-primary-dark">Clinica Médica Económica de Cojutepeque</h2>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <img id="logo" class="rounded mx-auto" src="../../static/img/logo_lab.png">
        </div>
      </div>
    </div>
    <!--Titulo del reporte-->
    <div class="card-body">
      <h2 class="fw-bold text-primary-dark text-center">Reporte de Exámenes de Laboratorio</h2>
    </div>
    <!--Formulario parametros del reporte-->
    <div class="card-body" id="formulario">
      <div class="card col-md-12 ">
        <div class="card-body" >
          <form>
            <div class="form-group">
              <label>Fecha Inicio</label>
              <input type="date" class="form-control" id="fechaInicio" name="fechaInicio">
            </div>
            <br>
            <div class="form-group">
              <label>Fecha Fin</label>
              <input type="date" class="form-control" id="fechaFin" name="fechaFin">
            </div>
            <br>
            <div class="form-group">
              <label>Categoría de Exámen</label>
              <select class="form-select" id="idcategoria" name="idExamen" onchange="actualizarSelect();">
                <option value="0">--Seleccione una categoria--</option>
              </select>
            </div>
            <br>
            <div class="form-group">
              <label>Tipo de Examen</label>
              <select class="form-select" id="idExamen" name="idExamen">
                <option value="">--Seleccione una categoria--</option>
              </select>
            </div>
            <br>
            <button class="btn btn-dark" type="button" onclick="consultarExamenes()">Consultar</button>
            
          </form>
        </div>
      </div>
    </div>
    <!--Resultados del reporte-->
    <div class="card-body" id="resultado" style="display: none;">
      <div>
        <h5 class="text-primary-dark text-center" id="titulo-fecha"></h2>
        <h5 class="text-primary-dark text-center">Generado por: {{ request.user.nombres }} {{ request.user.apellidos }} el {%now "d-m-Y" %} a las  {% now "H:i" %}. </h3>
        <br>
        <table class = "table table-striped text-center border" >
          <thead>
              <tr>
                  <th>Fecha</th>
                  <th>Exámenes Realizados</th>
                  <th>Resultados Entregados</th>
                  <th>Ingresos Diarios</th>
              </tr>
          </thead>
          <tbody id="resultados-informe">

          </tbody>
        </table>
      </div>
      <div >
        <button type="button" id="btn-guardar" class="btn btn-success" onclick="almacenarDatosReporte();">Guadar Parametros Reporte</button>
        <button type="button" id="btn-nuevo-form" class="btn btn-dark" onclick="nuevoForm();">Generar nuevo informe</button>
      </div>
    </div>
    
  </div>
  
  
</div>

<style>

h2,h3,h5{
color: #000034;
}
.imagen{
 
  padding: 20px;
  align-items: center;
  justify-content: center;
  

}
#logo{

  width: 70%;
  margin-left: 15%;
  
}
</style>
{% endblock %}
{% block js %}
<script>
    $( "#side_rt02" ).addClass( "active" );
    url="{% url 'vistaRT02' %}";
    consultarCategorias();
    consultarExamenesSelect();

    function mostrarResultado() {
      document.getElementById('formulario').style.display = 'none';
      document.getElementById('resultado').style.display = 'block';
      let id_examen=$('#idExamen').val();
      let examen=$('#idExamen').find(`option[value='${id_examen}']`).text();
      let fechaInicio=$('#fechaInicio').val()
      let fechaFin=$('#fechaFin').val()
      $('#titulo-fecha').html("");
      $('#titulo-fecha').append(`Exámenes de ${examen} realizados desde el ${fechaInicio} hasta ${fechaFin}`)
    }
    function nuevoForm(){
      document.getElementById('resultado').style.display = 'none';
      document.getElementById('formulario').style.display = 'block';
      $('#fechaInico').val('');
      $('#fechaFin').val('');
      $('#idExamen').val('');
    }
    function consultarExamenes(){
      $.ajax({
        url: 'http://clinica.code-rm.tk/laboratorio/sgi-reporte/',
        type:"GET",
        dataType: "json",
        data: { 
            'fechaInicio': $('#fechaInicio').val(),
            'fechaFin': $('#fechaFin').val(),
            'idExamen': $('#idExamen').val(),
          },
          success: async function(data){
            toastr[data.type](data.title);
            if(data.type==='success'){
              mostrarResultado();
              imprimirResultados(data);
            }
  
          }      
      });
    }
    //Función para consultas los datos del reporte
    function imprimirResultados(data){
      //variables
      let contador = {};
      let ingresos = {};
      let fecha = {};
      let totalExamen=0;
      let totalResultado=0;
      let totalIngresos=0;
      //Contando los datos
      data.data.forEach(item=>{
        let id = item.fecha_creacion;
        id= id.substring(0, 10);
        if (contador[id]) {
          contador[id]++;
          ingresos[id]=ingresos[id]+parseFloat(item.examen_laboratorio.precio_examen);
        } else {
          fecha[id]=item.fecha_creacion.substring(0, 10);
          contador[id] = 1;
          ingresos[id]=parseFloat(item.examen_laboratorio.precio_examen);
        } 
      })
      //Imprimiendo las filas
      $('#resultados-informe').html("")
      for (var id in contador) {

        $('#resultados-informe').append(`
          <tr>
            <td>${fecha[id]}</td>
            <td>${contador[id]}</td>
            <td>${contador[id]}</td>
            <td>$ ${ingresos[id]}</td>
          </tr>
        `);
        totalResultado=totalResultado+contador[id];
        totalIngresos=totalIngresos+ingresos[id];
      }
      $('#resultados-informe').append(`
          <tr>
            <th>Total</th>
            <th>${totalResultado}</th>
            <th>${totalResultado}</th>
            <th>$ ${totalIngresos}</th>
          </tr>
        `);
    }
    
    async function consultarCategorias(){
      $.ajax({
        url: 'http://clinica.code-rm.tk/laboratorio/sgi-categorias/',
        type:"GET",
        dataType: "json",
          success: async function(data){
            data.data.forEach(item=>{
              $('#idcategoria').append(`
                <option value="${item.id_categoria}">${item.descripcion_categoria}</option>
              `)
            })
            console.log(data)
          }      
      });
    }

    async function consultarExamenesSelect(){
      $.ajax({
        url: 'http://clinica.code-rm.tk/laboratorio/sgi-examenes/',
        type:"GET",
        dataType: "json",
          success: async function(data){
            localStorage.setItem('categoriaExamen', JSON.stringify(data.data));    
          }      
      });
    }

    function actualizarSelect(){
      let categoriaExamen = localStorage.getItem('categoriaExamen');
      let id_categoria = parseInt($('#idcategoria').val());
      categoriaExamen= JSON.parse(categoriaExamen);
      categoriaExamen=categoriaExamen.filter(function(item) {
        return item.categoria.id_categoria === id_categoria;
      });
      $('#idExamen').html('');
      categoriaExamen.forEach(item=>{
        $('#idExamen').append(`
          <option value="${item.examen_laboratorio.id_examen_laboratorio}">${item.examen_laboratorio.nombre_examen}</option>
        `);
      })
    }

    function almacenarDatosReporte(){
      $.ajax({
        url: "{% url 'vistaRT02' %}",
        type:"POST",
        dataType: "json",
        headers: {
                "X-CSRFToken": '{{ csrf_token }}',
            },
        data: { 
            'fecha_inicio': $('#fechaInicio').val(),
            'fecha_fin':$('#fechaFin').val(),
            'id_examen':$('#idExamen').val(),
          },
          success: async function(data){
            toastr[data.type](data.title);
            //Se consulta la lista de empleados y se pasa como parametro los datos de la consulta inicial
            
          }      
      });
    }
  
  </script>
{% endblock %}