{% extends "baseControl.html" %}
{% load static %}
{% block titulo %} Reporte Táctico 02 {% endblock %}
{% block content %}

<div class="imagen" >
  <img id="logo" src="../../static/img/encabezadoReceta.png">
</div>
<div class="container pt-1">
    <h2 class="fw-bold text-primary-dark text-center" style="padding-top: 20px;">Reporte de Exámenes de Laboratorio</h2>    
</div>
<br>
<div class="row" id="formulario">
  <div class="card col-md-8 offset-md-2 offset-md-2">
    <div class="row">
      <div class="card-body" >
        <form>
          <div class="form-group">
            <label>Fecha Inicio</label>
            <input type="date" class="form-control" id="fechaInicio" name="fechaFin">
          </div>
          <br>
          <div class="form-group">
            <label>Fecha Fin</label>
            <input type="date" class="form-control" id="fechaFin" name="fechaFin">
          </div>
          <br>
          <div class="form-group">
            <label>Tipo de Examen</label>
            <select class="form-select" id="idExamen" name="idExamen">
              <option value="">--Seleccione una categoria--</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>

            </select>
          </div>
          <br>
          <button class="btn btn-dark" type="button" onclick="mostrarResultado()">Consultar</button>
          
        </form>
      </div>
    </div>
  </div>
</div>
<div id="resultado" style="display: none;">
  <h3 class="fw-bold text-primary-dark text-center" >Exámenes de categoria realizados desde el fecha1 hasta fecha2</h2>
  <h3 class="fw-bold text-primary-dark text-center" style="padding-top: 20px;">Generado por: usuario1 el fecha a las hora 19:30 </h3>
  <br>
  <table class = "table table-striped table-bordered ">
    <thead >
      <tr>
          <th>Fecha</th>
          <th>Exámenes Realizados</th>
          <th>Resultados Entregados</th>
          <th>Ingresos Diarios</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
  </tbody>

  </table>

</div>

<style>

h2,h3{
color: #000034;
}
.imagen{
 
  padding: 20px;
  align-items: center;
  justify-content: center;
  

}
#logo{

  width: 70%;
  margin-left: 15%;
  
}
</style>
{% endblock %}
{% block js %}
<script>
    $( "#side_rt02" ).addClass( "active" );
    url="{% url 'vistaRT02' %}";
    function mostrarResultado() {
      document.getElementById('formulario').style.display = 'none';
      document.getElementById('resultado').style.display = 'block';

    }
  </script>
{% endblock %}